{% extends 'base.html' %}
{% block content %}


<br><br><br>
{% if apart %}
    <h3>Apartment: </h3>
    <p>Name: {{ object.name }}</p>
    <p>Address: {{ object.address }}</p>
    <p>Equipments: {{ object.equipment }} </p>
    <p>Surface: {{ object.surface }}</p>
    <p>Rent: {{ object.rent }}</p>
    <p>Costs: {{ object.costs }}</p>
    {% if renter %}
    <p>Rented by: <a href="{{ renter.get_detail_url }}">{{ renter }}</a></p>
    {% endif %}
    <p>Description: {{ object.description }}</p>
    {% if rooms %}
    <p>Rooms: </p>
    <ul>
    {% for room in rooms %}
        <a href="{{ room.get_detail_url }}"> <li class="{{ class }}"> {{ room }}</li></a>
    {% endfor %}
    </ul>
    {% endif %}
    {% if payments %}
    <p>Payments: </p>
    <ul>
    {% for payment in payments %}
        <a href="{{ payment.get_detail_url }}"> <li class="{{ class }}"> {{ payment }}</li></a>
    {% endfor %}
    </ul>
    {% endif %}
    <form class="form-horizontal" >
  {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" name="usun"><a href="{{ object.get_delete }}">Delete</a></button>
        <button type="submit" class="btn btn-default" name="edytuj"><a href="{{ object.get_edit }}">Edit</a></button>
      </div>
    </div>
    </form>

{#    {% if pics %}#}
{#    <p>Pictures: </p>#}
{#    <ul>#}
{#    {% for pic in pics %}#}
{#        <img src="{{ pic.pics.url }}" alt=""/>#}
{#        <button><a href="{{ pic.get_delete }}">Delete pic</a></button>#}
{#    {% endfor %}#}
{#    </ul>#}
{#    {% endif %}#}


{% if pics %}
    <hr>
<h3>Pics:</h3>
<div class="row">
{% for pic in pics %}
    <div class="column">
   <a href="{{ pic.get_apartment }}"><img src="{{ pic.pics.url }}" alt=""/></a>
   <button><a href="{{ pic.get_delete }}">Delete pic</a></button>
    </div>
{% endfor %}
</div>
{% endif %}


{% endif %}


{% if rent %}
    <h3>Renter: </h3>
    <p>First name: {{ object.first_name }}</p>
    <p>Last name: {{ object.last_name }}</p>
    <p>Apartment: <a href="{{ object.apartment.get_detail_url }}"> {{ object.apartment }} </a></p>
    {% if p %}
    <p>Payments: </p>
    <ul>
    {% for payment in p %}
    <a href="{{ payment.get_detail_url }}"> <li class="{{ class }}"> {{ payment }}</li></a>
    {% endfor %}
    </ul>
    {% endif %}

<form class="form-horizontal" >
  {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" name="usun"><a href="{{ object.get_delete }}">Delete</a></button>
        <button type="submit" class="btn btn-default" name="edytuj"><a href="{{ object.get_edit }}">Edit</a></button>
      </div>
    </div>
</form>
{% endif %}



{% if pay %}
    <h3>Payment: </h3>
    <p>Date: {{ object.date }}</p>
    <p>Amount: {{ object.amount }}</p>
    <p>Renter: {{ object.renter }} </p>
    <p>Apartment: <a href="{{ object.apartment.get_detail_url }}">{{ object.apartment }}</a> </p>


<form class="form-horizontal" >
  {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" name="usun"><a href="{{ object.get_delete }}">Delete</a></button>
        <button type="submit" class="btn btn-default" name="edytuj"><a href="{{ object.get_edit }}">Edit</a></button>
      </div>
    </div>
</form>
<br>
{% endif %}

{% if rm %}
    <h3>Room: </h3>
    <p>Name: {{ object.name }}</p>


<form class="form-horizontal" >
  {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" name="usun"><a href="{{ object.get_delete }}">Delete</a></button>
        <button type="submit" class="btn btn-default" name="edytuj"><a href="{{ object.get_edit }}">Edit</a></button>
      </div>
    </div>
</form>
<br>
{% endif %}




<br><br>
{% if objects %}
<h3>List:</h3>
<ul>
{% for object in objects %}
    <a href="{{ object.get_detail_url }}"> <li class="{{ class }}"> {{ object }} {% if object.renters %} -- Rented {% endif %}</li></a>
{% endfor %}
</ul>
{% endif %}



{% endblock %}