{% extends 'base.html' %}
{% block content %}


{{ komunikat }}<br><br><br>

<div class="form-group">
<form class="form-horizontal" method="POST" >
  {% csrf_token %}
    <p>
    <label for="date">Date:</label>
    <input type="date" name="date" id="date">
    </p>
    <p>
    <label for="amount">Amount:</label>
    <input type="number" step='0.01' name="amount" id="amount">
    </p>
    <p>
    <label for="renter">Renter:</label>
    <select name="renter" id="renter">
        {% for renter in renters %}

            <option value="{{ renter.pk }}">{{ renter }}</option>
        {% endfor %}
    </select>
    </p>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Add</button>
      </div>
    </div>
</form>
</div>
<br>

    {{ test }}

{% if objects %}
<h3>List:</h3>
<ul>
{% for object in objects %}
    <a href="{{ object.get_detail_url }}"> <li class="{{ class }}"> {{ object }} {% if object.renters %} -- Rented {% endif %}</li></a>
{% endfor %}
</ul>
{% endif %}


{% endblock %}